################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/AdsLit/.vs
/src/AdsLit/obj/Debug
/bin/Debug
/lib/TwinCAT.Ads.xml
/bin/Release/TwinCAT.Ads.xml
/bin/Release/TwinCAT.Ads.dll
/bin/Release/AdsLit.pdb
/src/AdsLit/obj/Release
/bin/Release/CxFinder.vshost.exe.manifest
/bin/Release/CxFinder.vshost.exe.config
/bin/Release/CxFinder.vshost.exe
/bin/Release/CxFinder.pdb
/bin/Release/CxFinder.exe.config
/src/CxFinder/obj
/TODO.txt